python-dotenv
openai
requests
Pillow
konlpy
fastapi
uvicorn
sse-starlette
pydantic
tavily-python
httpx
google-genai
anthropic
pyloudnorm
soundfile
google-auth-oauthlib
google-api-python-client
google-auth
